body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

#section_top{
   display: flex;
   background-image: url(../img/top-banner.png);
   background-repeat: no-repeat;
}

button{
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.max-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.image_section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.image_section img{
    width:100%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.section_content h2{
    font-size: 40px;
}
#second_section{
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}